body {
    background-color: #eff5f8;
    padding: 20%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #6099d0;
    font-weight: 100;
    font-size: 6em;
    margin-bottom: 0px;
}

h2 {
    color: #888;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 30px;
}

#logo {
    width: 120px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

#code, #code a {
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: grey;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    body {
        padding: 10%;
    }
}